<h1>Session 8</h1>
<h3>Task 3: Downloading YouTube Video</h3>

In [1]:
from pytube import YouTube #pytube should be installed using conda or pip before importing

In [2]:
link="https://www.youtube.com/watch?v=k4HlfCR2Wvk"
video=YouTube(link)

In [ ]:
stream360=video.streams.get_by_resolution(resolution="360p") #specifying stream to download (using 360 resolution in this case)
stream360.download() #video saved in same directory

In [ ]:
#To specify where video will be saved
path="C:/Users/HP 15/Desktop/Instant_Task/Datasets"
stream360.download(output_path= path)

<h3>Task 4: Web Scrapping</h3>

In [3]:
import requests
from bs4 import BeautifulSoup
import csv

In [4]:
csvfile = open ('scrape_task4.csv', 'w', encoding='utf-8') # w = write into the file , general way of representing data 
writer = csv.writer(csvfile)
writer.writerow(['Chapter Number','Chapter Name' 'PART1']) #Adding columns' names

34

In [5]:
link="https://witchculttranslation.com/2019/10/07/arc-6-chapter-71-count-one/" #In this task novel chapters were scrapped

In [6]:
for a in range(10):    # scrapping 10 pages
    source=requests.get(link).text
    soup=BeautifulSoup(source,"lxml")

    chapter=soup.title.text.split("|")[0].split("–")
    chapter_number=chapter[1].split(",")[0].strip()
    chapter_name=_number=chapter[1].split(",")[1].strip()

    y=soup.find('div', class_="entry-content")
    z=0
    x=0
    part1=""
    for i in y: 
        if str(type(i))== "<class 'bs4.element.Tag'>" :
            if "※" in (i.text.strip()) or "△▼" in (i.text.strip()):
                if x>2:
                    break
                else:
                    x+=1
                    continue
            elif x==3:
                part1+=i.text.strip()+"\n"

    writer.writerow([chapter_number,chapter_name ,part1 ])

    link=soup.find("div",class_="nav-next").a.attrs["href"]

csvfile.close()

<h3>Task 5: Using selenium and webdriver, login GitHub</h3>

In [7]:
from selenium import webdriver #install driver before importing

username=""
password=""

driver=webdriver.Chrome()
driver.get("https://github.com/login")

driver.find_element_by_id("login_field").send_keys(username)
driver.find_element_by_id("password").send_keys(password)

driver.find_element_by_name("commit").click()

WebDriverException: Message: 'chromedriver' executable needs to be in PATH. Please see https://sites.google.com/a/chromium.org/chromedriver/home

<h1>Session 9</h1>
<h3>Task: Regular expressions</h3>

In [ ]:
import re

text="abc^_^ 123` 435 "
pattern=re.compile("[\[-`]{3}")

matches=pattern.finditer(text)

for m in matches:
    print(m)

<h1>Session 10</h1>
<h3>Task: Scrapping subscribed channels on YouTube</h3>

In [ ]:
from bs4 import BeautifulSoup
import csv

In [ ]:
csvfile = open ('Subscriptions.csv', 'w', encoding='utf-8')
writer = csv.writer(csvfile)
writer.writerow(['Channel Name','Channel Link'])

In [8]:
with open ("Channel list.html",encoding='UTF-8') as html_file:   #Subcriptions page was saved as html (Channel list.html)
    soup=BeautifulSoup(html_file,'lxml')

FileNotFoundError: [Errno 2] No such file or directory: 'Channel list.html'

In [9]:
channels=soup.find_all('div',{"id":"content-section"})

for channel in channels:
    
    c_name=channel.find('yt-formatted-string').text
    c_link=channel.a['href']
    writer.writerow([c_name,c_link])
    print(c_name)
    
csvfile.close()

<h1>Session 17</h1>

In [10]:
import pandas as pd
import numpy as np

<h3>Task 3: Max and Min for numerical data types in numpy arrays</h3>

In [13]:
data='float16' #Enter data type 

print(f'{np.finfo(data).min} to {np.finfo(data).max}') #if int use np.iinfo(), if float use finfo()

-65504.0 to 65504.0

<h3>Task 4: How to read random rows</h3>

In [14]:
columns=["Name", "Age","Gender"]
dict1={
    "Name":["Ahmad","Yasser","Mohamed","Raafat","Zaki","Eyad","Khaled","Ali","Moaz","Tamer"], 
    "Age":[22,18,15,22,30,21,20,19,35,23],
    "ID":[i for i in range(10)]
}
df=pd.DataFrame(dict1)
df

      Name  Age  ID
0    Ahmad   22   0
1   Yasser   18   1
2  Mohamed   15   2
3   Raafat   22   3
4     Zaki   30   4
5     Eyad   21   5
6   Khaled   20   6
7      Ali   19   7
8     Moaz   35   8
9    Tamer   23   9

In [15]:
df2=pd.DataFrame(dict1).sample(n = 3) #n: number of rows
df2

     Name  Age  ID
1  Yasser   18   1
7     Ali   19   7
5    Eyad   21   5

In [16]:
#Randomly select a specified fraction of the total number of rows.
#Setting frac=0.50, a random selection of 50% of the total rows will be returned

df3=pd.DataFrame(dict1).sample(frac=0.5) 
df3

     Name  Age  ID
5    Eyad   21   5
3  Raafat   22   3
0   Ahmad   22   0
7     Ali   19   7
6  Khaled   20   6

<h3>Task 5: Save 2 columns last 3 rows</h3>

In [17]:
df[["Name","Age"]].iloc[-3:].to_csv("newdata.csv", index=True) #selecting columns Name and Age, last 3 rows

<h3>Task 6: How to append on a csv or excel sheet </h3>

In [18]:
df2.to_csv("newdata.csv", index=False,mode='a' ,header=False) #set mode to 'a'

<h1>Session 18</h1>
<h3> Task 1: Replacing data in specific columns with specific values</h3>

In [19]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017       -99999          7  Sunny
2  1/3/2017           28     -99999   Snow
3  1/4/2017       -99999          7      0
4  1/5/2017           32     -99999   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5      0

In [20]:
new_df = df.replace({
        'temperature': -99999,
        'windspeed': -99999,
        'event': '0'
    }, 
    {
        'temperature': 30,
        'windspeed': 5,
        'event': 'None'
    })
new_df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           30          7  Sunny
2  1/3/2017           28          5   Snow
3  1/4/2017           30          7   None
4  1/5/2017           32          5   Rain
5  1/6/2017           31          2  Sunny
6  1/6/2017           34          5   None

<h3>Task 4: How to reverse the effect of melt funtion in pandas</h3>

In [21]:
df2 = pd.read_csv("city_weather.csv")
df2

         day  chicago  chennai  berlin
0     Monday       32       75      41
1    Tuesday       30       77      43
2  Wednesday       28       75      45
3   Thursday       22       82      38
4     Friday       30       83      30
5   Saturday       20       81      45
6     Sunday       25       77      47

In [22]:
melted = pd.melt(df2, id_vars=["day"], var_name='city', value_name='temp')
melted

          day     city  temp
0      Monday  chicago    32
1     Tuesday  chicago    30
2   Wednesday  chicago    28
3    Thursday  chicago    22
4      Friday  chicago    30
5    Saturday  chicago    20
6      Sunday  chicago    25
7      Monday  chennai    75
8     Tuesday  chennai    77
9   Wednesday  chennai    75
10   Thursday  chennai    82
11     Friday  chennai    83
12   Saturday  chennai    81
13     Sunday  chennai    77
14     Monday   berlin    41
15    Tuesday   berlin    43
16  Wednesday   berlin    45
17   Thursday   berlin    38
18     Friday   berlin    30
19   Saturday   berlin    45
20     Sunday   berlin    47

In [23]:
melted.pivot(index='day',columns='city')

            temp
city      berlin chennai chicago
day
Friday        30      83      30
Monday        41      75      32
Saturday      45      81      20
Sunday        47      77      25
Thursday      38      82      22
Tuesday       43      77      30
Wednesday     45      75      28

<h3>Task 5: Adding holiday and custom business days to Calender</h3>

In [24]:
from pandas.tseries.offsets import CustomBusinessDay
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

In [25]:
egypt_weekdays = "Sun Mon Tue Wed Thu"
class myCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('My Birth Day', month=9, day=18)#, observance=nearest_workday),
    ]

In [26]:
custom = CustomBusinessDay(calendar=myCalendar(),weekmask=egypt_weekdays)

pd.date_range(start="9/1/2017", end="9/30/2017", freq=custom)

DatetimeIndex(['2017-09-03', '2017-09-04', '2017-09-05', '2017-09-06',
               '2017-09-07', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-17', '2017-09-19',
               '2017-09-20', '2017-09-21', '2017-09-24', '2017-09-25',
               '2017-09-26', '2017-09-27', '2017-09-28'],
              dtype='datetime64[ns]', freq='C')